* {
	margin: 0;
	padding: 0;
	font-family: arial black;
	box-sizing: border-box;
}
.mySlides1{
	display: none;
}
img {
	vertical-align: middle;
}
h2{
	color: white;
	margin: auto;
	text-align: center;
	display: block;;
	cursor: pointer;
}
.hero {

	background:	linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(bg.jpeg);
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	position: relative;
}
nav{
	display: flex;
	align-items:  center;
	justify-content:  space-between;
	overflow: auto;
	padding-top: 40px;
	padding-left: 10%;
	padding-right: 10%;
}
nav ul li {
	list-style-type: none;
	padding: 10px;	
	float: left;
}
nav ul li a {
	width: 100px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-left: 30px;
	padding-left: 10px;
}
nav ul li a:hover{
	color: #ea1538;
	transition: .3s;
}
.logo img {
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
	padding: 10px;
	width: 100px;
}
button {
	border: none;
	background: #ea1538;
	padding: 12px 30px;
	border-radius: 30px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: .4s;
}
button:hover{
	transition: scale(1.3);
	cursor: pointer;
}
.images{
	margin: auto;
    width: 50%;
	text-align: center;
	padding: 35px 0;
	padding-top: 30px;
	display: block;
	cursor: pointer;
}
.slideshow-container {
  max-width:300px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 10px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}